*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

:root {
  --couleur-dark: #005156;
  --ecriture: #E03F10;
  --fond-dark: #0C293B;
  --couleur-titre: #F7A746;
  --fond-light: #EDE7E3;
  --ESSAI:#1C5D99;
  --essai2:#251101;
}


@font-face {
  font-family: "titre";
  src: url("/font/MOCH2.ttf");
}
@font-face {
  font-family: "sous-titre";
  src: url("/font/MOCH1.ttf");
}
@font-face {
  font-family: "article";
  src: url("/font/SLAB.ttf");
}
@font-face {
  font-family: "paragraphe";
  src: url("/font/ZEN.ttf");
}
h1 {
  font-family: 'titre';
}
h2 {
  font-family: "sous-titre";
}
h3 {
  font-family: "article";
}
h4 {
  font-family: "paragraphe";
}

li {
  list-style-type: none;
}
.container {
  margin: 0 auto;
  max-width: 1024px;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 16vw 1fr 1fr;
  grid-template-rows: 250px;
  position: relative;
}
.profil {
  grid-column-start: 1 ;
  grid-column-end: 2;
  background-color: var(--fond-light);
  position: relative;
  display: flex;
  align-items: center; 
}
.profil  .rond1 {
  width: 240px;
  height: 240px;
  background-color: var(--fond-light);
  border-radius: 50%;
  position: absolute;
  transform: translateX(2vw);
}
.profil  .rond {
  width: 200px;
  height: 200px;
  background-color: var(--fond-light);
  border-radius: 50%;
  position: absolute;
  transform: translate(20px, 18px);
  overflow: hidden;
}

.profil  img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: absolute;
  transform: translate(13px, 15px);
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 2 / 4;
  background-color: var(--fond-dark);
}
article, .titre h1 {
  font-size: 1.5em;
  color: var(--couleur-titre);
  /* font-family: 'titre'; */
}

article, .titre span {
  font-size: 2em;
  font-weight: bold;
  color: var(--fond-light);
}
article, .titre h2 {
  color: var(--ecriture);
  text-transform: capitalize;
}
main {
 /*  grid-area: main; */
  display: grid;
  grid-template-columns: 16vw 1fr 1fr;
 /*  grid-template-rows: 1200px;*/
} 
main aside li{
  color: var(--fond-light);
}

main h2 {
  color: var(--couleur-titre);
}
main h2 {
  font-size: 1em;
  margin: 20px 10px;
  text-transform: uppercase;
}
aside {
  grid-column-start: 1 ;
  grid-column-end: 2;
  background-color: var(--fond-dark);
  padding: 10px;
}
aside ul li {
  padding: 10px;
}
aside ul li a {
  text-decoration: none;
  color: var(--couleur-titre);
}
aside .propos::after,
aside .experience::after {
  content: "";
  position: absolute;
  display: flex;
  border: 1px solid;
  color: var(--ecriture); 
  margin-top: 5px; 
}
aside .propos::after {
  width: 9vw;
}
aside .experience::after {
  width: 10vw;
}
aside h4 {
  color: var(--couleur-titre);
  font-size: 1em;
  padding: 20px 10px;
}
aside p {
  padding: 0 10px;
  text-align:justify;
  color:var(--fond-light);
}

section {
  grid-column-start: 2 ;
  grid-column-end: 4;
  background-color: var(--fond-light);
}
section h2 {
  padding: -10px;
}
section .formation::after {
  content: "";
  position: absolute;
  display: flex;
  border: 1px solid;
  color: var(--ecriture); 
  margin-top: 5px; 
  width: 6vw;
}
.form {
  width: 80%;
  margin: 0 auto;
}
section h3 {
  color: var(--essai2);
  margin-top: 20px;
}
section h4 {
  color: var(--ecriture);
}
section ul {
  margin-top: 10px;
}
section ul li {
  color: var(--ESSAI);
  font-weight: bold;
}

section .logo ul {
 
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px auto;

}
section .logo ul img {
  width: 100px;
  height: 100px;
  padding: 30px;
}

@media  screen and  (max-width: 1024px){
  header {
   
    grid-template-columns: 25vw 1fr 1fr;
}
main {
  grid-template-columns: 25vw 1fr 1fr;
 
} 
}
@media  screen and  (max-width: 769px){
  header {
    grid-template-columns: 35vw 1fr 1fr;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 2 / 4;
  background-color: var(--fond-dark);
}
article, .titre h1 {
  font-size: 1.4em;
  color: var(--ecriture);
}
article, .titre span {
  font-size: 1.5em;  
}

main {
  grid-template-columns: 35vw 1fr 1fr;
} 
section .logo ul img {
  width: 80px;
  height: 80px;
  padding: 10px;
}
}
@media  screen and  (max-width: 425px){
  header {
    grid-template-columns: 0vw 1fr 1fr;
}
.profil {
  display: none;
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 2 / 4;
  background-color: var(--fond-dark);
}
article, .titre h1 {
  font-size: 1.2em;
  color: var(--ecriture);
}

main {
  display: flex;
  flex-direction: column-reverse;
  grid-template-rows: 0vw 1fr 1f;
} 
section .logo ul img {
  width: 60px;
  height: 60px;
  padding: 10px;
}
}



